.Logo {
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(green);
    color: var(green);
    font-size: 7vmin;
    border: .6vmin solid var(--tan-2); 
    font-family: caprasimo;
    /* background-image: url (https://i.imgur.com/3HSmFUl.jpg?1); */
  }
